*.suo
*.ide
*.dll
*.pdb
*.cache
**/obj/
**/bin/
**/.vs/
csharp/mylibs/GuiTools/bin/x64/Debug/GuiTools.dll
csharp/mylibs/GuiTools/bin/x64/Debug/GuiTools.dll
csharp/mylibs/GuiTools/bin/x64/Debug/GuiTools.dll
csharp/mylibs/GuiTools/bin/x64/Debug/GuiTools.pdb
csharp/mylibs/GuiTools/bin/x64/Debug/Tools.dll
csharp/mylibs/GuiTools/bin/x64/Debug/Tools.pdb
csharp/mylibs/GuiTools/obj/x64/Debug/GuiTools.csprojResolveAssemblyReference.cache
csharp/mylibs/GuiTools/obj/x64/Debug/GuiTools.dll
csharp/mylibs/GuiTools/obj/x64/Debug/GuiTools.pdb
csharp/PrimeTrader/.vs/PrimeTrader/v15/Server/sqlite3/storage.ide
csharp/PrimeTrader/.vs/PrimeTrader/v15/Server/sqlite3/storage.ide-shm
csharp/PrimeTrader/.vs/PrimeTrader/v15/Server/sqlite3/storage.ide-wal
